@charset "UTF-8";

body{
    background-color:rgb(7, 7, 7);
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    color: white;
}

header#cabecalho {
    border-bottom: 1px rgba(255, 255, 255, .5) solid;
    padding-bottom: 10px;
}

nav#menu{
    display: block;
}

nav#menu ul{
    position: absolute;
    list-style: none;
    top: -5px;
    text-transform: uppercase;
    left: 800px;
}

nav#menu li{
    display: inline-block;
    padding: 10px;
    margin: 2px;
}

nav#menu img{
    position: relative;
    top: -5px;
}

figure#foto img{
    position: relative;
    right: 30px;
    margin-top: 100px;
}

aside#lado {
    display: block;
    float: right;
    text-align: justify;
    width: 700px;
    position: relative;
    top: -550px;
    right: 60px;
}

aside#lado h1{
    font-size: 20pt;
    text-align: center;
}

aside#lado p, li{
    font-weight: 100;
}


div#port figure{
    margin-top: 130px;
    position: relative;
}

figure#port img.barber{
    left:100px;
}

article#projetos h1.p-titulo{
    position: absolute;
    left: 700px;
    font-size: 20pt;
    margin-bottom: 20px;
}

ul#p-fotos{
    list-style: none;
}

ul#p-fotos li{
    position: relative;
    top: 180px;
    left: 490px;
    width: 500px;
    height: 416px;
    margin: 10px;
}

ul#p-fotos li span{    
    font-weight: bold;
    opacity: 0;
    background-color: rgba(0, 0, 0, .4);
    margin: 196px;
    padding: 20px;
    border-radius: 20px;
    line-height: 450px;
}

ul#p-fotos li:hover{
    -webkit-transform: scale(1.1);
    -webkit-transition: all 1s ease-in;
}

ul#p-fotos li:hover span{

    opacity: 1;
    transition: 1s;
}

ul#p-fotos li#foto01{
    background: url('img/burger.jpg') no-repeat;
    background-size: 500px 416px;  
    border-radius: 10px;
}

ul#p-fotos li#foto01 a{
    text-decoration: none;
    color: white;
}


